{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-private-methods",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "react"
      ],
      "plugins": [
        "syntax-object-rest-spread",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
